@use 'variables' as *;
@use 'mixins' as *;

.container {
  // width: 100%;
  max-width: $maxWidthContainer + px;
  margin-inline: auto;
  @include adaptiveValue("padding-inline", 32, 15);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
